<h1><%= @user.name %></h1>

<h2>Recipes :</h2>
<ul>
    <% @user.recipes.each do |rec| %>
        <li>
        <%= link_to rec.name, recipe_path(rec) %>
        </li>
    <% end %>
</ul>
<h2>Allergic to: </h2>
<ul>
    <% @user.allergies.each do |a| %>
        <li>
        <%= link_to a.ingredient.name, ingredient_path(a.ingredient) %>
        </li>
    <% end %>
</ul>

<%= link_to "Back to Index", users_path %>
<%= link_to "Delete User", destroy_user_path, method: "DELETE" %>